* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEF3EA;
  padding: 4rem 8rem;
  text-align: center;
  overflow-x: hidden;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.background {
  background-image: url('signup.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon h3 {
  margin: 20px 0;
}

.icon {
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  padding: 50px;
}

.whitebg {
  padding: 25px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, textarea {
  width: 80%;
  margin: 11px 0;
  padding: 4px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 2rem;
  outline: none;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}